<form action="/post/create" method="post">
    <input type="hidden" name="topicid" value="<%= topic.topicid %>">
    <label for="message">Message:</label>
    <textarea name="message" id="message"></textarea>
    <button type="submit">Reply</button>
</form>