<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>The Tavern</title>
  </head>
  <body>
    <header><%- include("components/nav") %></header>

    <main>
      <h1>CONTENT</h1>
    </main>
  </body>
</html>
