<h1>Sign Up</h1>
<div>
  <% if( typeof error !== "undefined") { %>
      <p> <%= error %> </p>
  <% } %>
</div>

<form action="" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="username" value="<%= locals.newUser.username || "" %>"/>
  <label for="password">Password:</label>
  <input type="text" name="password" id="password" placeholder="password" />
  <label for="confirm">Confirm Password:</label>
  <input
    type="text"
    name="confirm"
    id="confirm"
    placeholder="Confirm Password"
  />
  <label for="fName">First Name:</label>
  <input type="text" name="fName" id="fName" value="<%= locals.newUser.fName  || ""%>">
  <label for="lName">Last Name:</label>
  <input type="text" name="lName" id="lName" value="<%= locals.newUser.lName || "" %>">
  <button type="submit">Register</button>
</form>